src/project_requirements_document/*
src/project_requirements_document/project_requirements_document.tex

src/initiative_project_application/*
!src/initiative_project_application/initiative_project_application.tex

src/reports/*